<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <system.serviceModel>
    <services>      
      <service name="Service.Service1" behaviorConfiguration="SecurityBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Service1.svc" />
          </baseAddresses>
        </host>        
        <!--<endpoint address="" binding="basicHttpBinding" contract="Contract.IService1"/>-->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->          
        <endpoint address="" binding="basicHttpBinding" contract="Contract.IService1" bindingConfiguration="SecuredBinding"></endpoint>  
      </service>            
    </services>    
    <behaviors>      
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="SecurityBehavior">  
          <serviceDebug includeExceptionDetailInFaults="True" />  
            <serviceCredentials>  
              <serviceCertificate findValue="ServerCert" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />  
                <clientCertificate>  
                  <authentication certificateValidationMode="PeerTrust" trustedStoreLocation="LocalMachine" revocationMode="NoCheck" mapClientCertificateToWindowsAccount="false" />  
                </clientCertificate>  
            </serviceCredentials>  
          </behavior>  
        </serviceBehaviors>
     </behaviors>
    <bindings>  
            <basicHttpBinding>  
                <binding name="SecuredBinding" >  
                    <security mode="Message">  
                        <message clientCredentialType="Certificate" ></message>  
                    </security>  
                </binding>  
            </basicHttpBinding>  
        </bindings>  
  </system.serviceModel>
</configuration>
